.tab {
  display: flex;
  flex-direction: column;

  height: 100%;
  overflow: hidden;

  user-select: none;

  .ribbon {
    @include ribbon;
  }

  .continentalness {
    @include center;
  }

  .matrixContainer {
    width: 100%;
    flex: 1;
    min-height: 0;
    overflow: scroll;

    display: flex;
    flex-direction: column;

    padding-right: 16px;
    padding-bottom: 16px;

    > .matrix {
      width: 2400px;

      > .row {
        width: 100%;
        
        display: flex;
        flex-direction: row;
        
        > .cell {
          @include center;

          &:not(:first-child) {
            flex: 1;
          }

          &.vertical {
            @include center;

            writing-mode: sideways-lr;
            text-orientation: sideways;
          }

          &.tableContainer {
            padding: 4px;
          }
        }
      }
    }

    .htTable {
      > thead {
        > tr {
          > td {
            > div {
              @include center;
            }
          }
        }
      }

      > tbody {
        > tr {
          > td.head {
            writing-mode: sideways-lr;
            text-orientation: sideways;

            > div {
              @include center;
            }
          }
        }
      }
    }
  }

  .panel {
    display: flex;
    flex-direction: column;

    height: 200px;
    min-height: 0;
    overflow-y: auto;

    border-top: 1px solid #888;

    .biomeSelection {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 4px;

      > button {
        cursor: pointer;

        width: 120px;
        border: 4px solid white;
        font-size: 8pt;
        padding: 4px 0;
        margin: 0;
        opacity: 0.6;

        &[data-selected=true] {
          border-color: red;
          opacity: 1;
        }
      }
    }
  }
}
