.tab {
  display: flex;
  flex-direction: column;

  height: 100%;
  overflow: hidden;

  .ribbon {
    @include ribbon;
  }

  .tabContainer {
    flex: 1;

    display: flex;
    flex-direction: column;
    
    overflow: hidden;

    .tabPanel {
      flex: 1;

      overflow: hidden;
    }
  }

  .panel {
    display: flex;
    flex-direction: column;

    height: 200px;
    min-height: 0;
    overflow-y: auto;

    border-top: 1px solid #888;

    .biomeSelection {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 4px;

      > button {
        cursor: pointer;

        width: 120px;
        border: 4px solid white;
        font-size: 8pt;
        padding: 4px 0;
        margin: 0;
        opacity: 0.6;

        &.nullBiome {
          @include checkerboard-bg;
        }

        &[data-selected=true] {
          border-color: #0084ff;
          opacity: 1;
        }

        &[data-wanted=false] {
          border: 3px solid red;

          background: linear-gradient(
            to top left,
            #ddd calc(50% - 1px),
            red calc(50% - 1px),
            red calc(50% + 1px),
            #ddd calc(50% + 1px)
          ) !important;
          
          color: black !important;
        }
      }
    }
  }
}
