.tab {
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  > .chartContainer {
    flex: 1;
    width: 100%;
    max-width: 900px;
    min-height: 0;

    display: flex;
    justify-content: center;
    
    padding: 16px;
  }
}
