.tab {
  display: flex;
  flex-direction: column;

  height: 100%;
  overflow: hidden;

  user-select: none;

  .ribbon {
    @include ribbon;
  }

  > .chartContainer {
    flex: 1;
    min-height: 0;

    display: flex;
    justify-content: center;
    
    padding: 16px;

    .chart {
      height: 100%;
      min-height: 0;
      display: flex;
      flex-direction: row;

      border: 4px solid black;

      > .temp {
        width: 120px;
        height: 100%;
        min-height: 0;

        display: flex;
        flex-direction: column;

        > .head {
          @include center;

          border-bottom: 1px solid #888;
          background-color: #ccc;
        }

        &:not(:last-child) {
          border-right: 1px solid #888;
        }

        > .biomeList {
          flex: 1;
          overflow-y: auto;

          > .biome {
            @include center;

            border: 1px solid black;
          }
        }
      }
    }
  }
}
