.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .ribbon {
    @include ribbon;
  }

  .tabContainer {
    flex: 1;
    min-height: 0;

    display: flex;
    flex-direction: column;

    .tabPanel {
      flex: 1;
      min-height: 0;

      display: flex;
      flex-direction: column;

      .langTblContainer {
        min-height: 0;
        height: 100%;
      }
    }
  }
}
