@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin vertical-text {
  writing-mode: sideways-lr;
  text-orientation: sideways;
}

@mixin ribbon {
  display: flex;
  gap: 4px;
  padding: 8px 16px;
  border-bottom: 1px solid #aaa;
}

@mixin checkerboard-bg ($col1: #ddd, $col2: #f3f3f3) {
  background: 
    repeating-conic-gradient($col1 0 25%, $col2 0 50%) 
      50% / 20px 20px;
}
