//@use "reset.css" as *;

@use "vars" as *;
@use "mantine" as *;

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;

  &::selection {
    background-color: gold;
  }
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

a {
  all: unset;
}

button,
[role=button] {
  &:not([disabled]) {
    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

button {
  background: unset;
  border: unset;
  text-align: unset;
  padding: 0;
}

input[type=text] {
  height: unset;
  min-height: unset;
  text-align: center;
  line-height: unset;
  color: unset;
  border: unset;
  background-color: unset;

  &:focus {
    border: unset;
    outline: unset;
  }
}
