.page {
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  .ribbon {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 16px;
    padding: 8px 32px 8px 32px;
    border-bottom: 1px solid #888;
  }

  .content {
    flex: 1;

    .separator {
      width: 3px;
      height: 100%;
      background-color: #888;
    }

    .canvasPanel {
      max-height: 100%;
      display: flex;

      .canvasContainer {

        overflow: auto;
        background-color: black;
        padding: 16px;

        > canvas {
          border: 1px solid white;
        }
      }
    }

    .dataPanel {
      display: flex;
      flex-direction: column;

      > .dataRibbon {
        @include ribbon;
      }

      > .content {
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        > .biomeCount {
          display: flex;
          flex-direction: column;

          > table {
            thead {
              font-weight: 600;
            }
            
            tbody {
              tr {
                td:first-child {
                  font-size: 8pt;
                }
              }
            }
          }
        }
      }
    }
  }
}
