.modal {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 100%;

  .ribbon {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 4px;
  }
}
