.page {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  overflow: hidden;

  .ribbon {
    display: flex;
    flex-direction: row;
    padding: 4px;
    gap: 4px;
  }

  .tabContainer {
    flex: 1;

    display: flex;
    flex-direction: column;
    
    overflow: hidden;

    .tabPanel {
      flex: 1;

      overflow: hidden;
    }
  }
}

.thTable {
  flex: 1;

  display: flex;
  flex-direction: column;

  .titleRow {
    display: flex;
    flex-direction: row;

    > div {
      @include center;
      flex: 1;
    }
  }

  .humRow {
    flex: 1;

    display: flex;
    flex-direction: row;

    .title {
      @include center;

      writing-mode: sideways-lr;
      text-orientation: sideways;
    }

    .colContainer {
      display: flex;
      flex-direction: row;
      width: 100%;

      .tempCol {
        @include center;
        flex: 1;

        display: flex;
        flex-direction: column;
        height: 100%;

        padding: 2px;
      }
    }
  }
}

.controlPanel {
  border-top: 1px solid black;
}
