.chart {
  user-select: none;

  width: 100%;
  min-width: 600px;
  height: 100%;
  min-height: 0;

  display: flex;
  flex-direction: row;

  border: 4px solid black;

  > .column {
    flex: 1;
    
    height: 100%;
    min-height: 0;

    display: flex;
    flex-direction: column;

    > .head {
      @include center;

      border-bottom: 1px solid #888;
      background-color: #ccc;
    }

    &:not(:last-child) {
      border-right: 1px solid #888;
    }

    > .biomeList {
      flex: 1;
      overflow-y: auto;

      padding-bottom: 32px;

      > .biome {
        @include center;
        @include ellipsis;

        border: 1px solid black;
        font-size: 10pt;
        padding: 3px 0;
      }
    }
  }
}
