.table {
  --font-size: 7pt;

  user-select: none;

  border-collapse: collapse;
  border: 4px solid black;
  table-layout: fixed;
  width: 100%;

  &:hover {
    box-shadow: 0px 0px 12px 2px #0173fabf;
    -webkit-box-shadow: 0px 0px 12px 2px #0173fabf;
    -moz-box-shadow: 0px 0px 12px 2px #0173fabf;
  }

  td:first-child {
    width: 24px;
  }

  thead {
    font-size: var(--font-size);
    text-align: center;

    td {
      font-weight: 600;
      background-color: #ccc;
      border-left: 1px solid #888;
          
      width: 100%;
      
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  tbody {
    tr {
      &[data-is-river=true] {
        border-top: 3px solid blue;
        border-bottom: 3px solid blue;

        td.values:not(:first-child) {
          @include checkerboard-bg(#afc6d6, #85a4b8);
        }
      }

      td.head {
        font-size: var(--font-size);
        font-weight: 600;
        text-align: center;
        padding: 0 4px;
        border-top: 1px solid #888;
        background-color: #ccc;
      }

      td.values {
        font-size: var(--font-size);

        border: 1px solid black;
        padding: 0;

        &:not(:first-child) {
          @include checkerboard-bg;
        }

        > div {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          overflow: hidden;

          > div {
            @include center;

            flex: 1;
            height: 100%;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:not(:last-child) {
              border-right: 1px dashed black;
            }

            &[data-wanted=false] {
              position: relative;

              background: linear-gradient(
                to top left,
                #ddd calc(50% - 2px),
                red calc(50% - 2px),
                red calc(50% + 2px),
                #ddd calc(50% + 2px)
              ) !important;
              color: black !important;
              
              &::after {
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid red;
                z-index: 1000;
              }
            }
          }
        }
      }
    }
  }
}

.cellTooltip.cellTooltip {
  padding: 0;
  margin: 0;
  border: 2px solid black;
}

.cellTooltipLabel {
  color: black;
  background-color: white;

  display: flex;
  flex-direction: column;
  padding: 12px;
  padding-top: 4px;

  .label {
    @include center;
    font-weight: 600;
  }

  .biome {
    font-size: 8pt;
    border: 1px solid black;
    padding: 4px;

    &:not(:last-child) {
      border-bottom-width: 0px;
    }
  }
}
