.overlay {
  user-select: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000d0;
  z-index: 5000;

  .colorPicker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5000;

    border-radius: 0 !important;
    
    //> :first-child {
    //  background-color: white !important;
    //  background-image: none !important;
//
    //  border-radius: 0 !important;
    //  border-bottom: 1px solid var(--color-primary) !important;
    //  font-size: 12pt !important;
    //  font-weight: 600 !important;
    //  padding: 6px 0 !important;
    //  height: fit-content !important;
    //}
//
    //> :nth-child(2) {
    //  background-color: white !important;
    //}
  }
}
