.infoPage {
  padding: 1rem;

  h1 {
    font-size: 18pt;
  }

  code {
    background-color: var(--color-primary-l3);

    padding: 4px 8px;

    font-family: var(--font-mono);
    font-size: 10pt;
  }
}
