.tab {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  > .tableContainer {
    @include center;

    flex: 1;

    width: 100%;
    max-width: 900px;

    .biomeTable {
      --font-size: 12pt;
    }
  }
}
