.biome {
  width: 255px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  background-color: var(--color-biome);

  border: 1px solid var(--color-biome);
  border-left-width: 8px;
  background-color: color-mix(in srgb, var(--color-biome) 50%, transparent);

  &[data-wanted=false] {
    //border: 4px solid red;
    border-color: #f006;
    opacity: 0.75;

    //background: linear-gradient(
    //  to top left,
    //  #ddd calc(50% - 3px),
    //  red calc(50% - 3px),
    //  red calc(50% + 3px),
    //  #ddd calc(50% + 3px)
    //) !important;
    background: repeating-linear-gradient(
      -45deg,
      #f002 0px,
      #f002 8px,
      white 8px,
      white 16px
    );

    > * {
      opacity: 0.65;
      color: #600;
    }
  }
  
  &[data-wanted=true] {
    outline: 1px solid black;
  }

  .id {
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 8pt;
    text-align: center;
    padding-top: 4px;
  }

  .name {
    font-size: 10pt;
    font-weight: 600;

    .nameInput.nameInput {
      height: unset;
      min-height: unset;
      text-align: center;
      line-height: unset;
      color: unset;

      &:hover {
        background-color: #ffffffa0;
      }
    }
  }

  &[data-wanted=true] .actions {
    background-color: var(--color-biome);
    color: var(--color-biome-text);
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;

    button {
      background-color: white;
      border: 1px solid black;
      outline: 1px solid white;
      color: black;
    }

    .colorInput {
      width: 60px;

      .colorInputInput.colorInputInput {
        height: unset;
        min-height: unset;
        text-align: center;
        line-height: unset;

        font-family: Consolas, 'Courier New', Courier, monospace;
        font-size: 10pt;
        color: unset;

        &:hover {
          background-color: #ffffffa0;
        }
      }
    }
  }
}

.colorPickerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000d0;
  z-index: 5000;

  .colorPicker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5000;
  }
}
