.tab {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  overflow: hidden;

  .ribbon {
    @include ribbon;
  }

  .tabContainer {
    @include tab-screen;

    .tabPanel {
      @include tab-screen-panel;
    }
  }
}
