.tab {
  display: flex;
  flex-direction: column;

  height: 100%;
  overflow: hidden;

  user-select: none;

  .continentalness {
    @include center;
  }

  .matrixContainer {
    width: 100%;
    flex: 1;
    min-height: 0;
    overflow: scroll;

    display: flex;
    flex-direction: column;

    padding-right: 16px;
    padding-bottom: 16px;

    > .matrix {
      width: 2400px;

      > .row {
        width: 100%;
        
        display: flex;
        flex-direction: row;
        
        > .cell {
          @include center;

          &:not(:first-child) {
            flex: 1;
          }

          &.vertical {
            @include center;

            writing-mode: sideways-lr;
            text-orientation: sideways;
          }

          &.tableContainer {
            padding: 4px;
          }
        }
      }
    }

    .htTable {
      > thead {
        > tr {
          > td {
            > div {
              @include center;
            }
          }
        }
      }

      > tbody {
        > tr {
          > td.head {
            writing-mode: sideways-lr;
            text-orientation: sideways;

            > div {
              @include center;
            }
          }
        }
      }
    }
  }
}
