.tab {
  display: flex;
  flex-direction: column;

  height: 100%;
  overflow: hidden;

  user-select: none;

  .depth {
    @include center;
  }

  .matrixContainer {
    width: 100%;
    flex: 1;
    min-height: 0;
    overflow: scroll;

    display: flex;
    flex-direction: column;

    padding-right: 16px;
    padding-bottom: 16px;

    > .matrix {
      width: 2400px;

      > .row {
        width: 100%;
        
        display: flex;
        flex-direction: row;
        
        > .cell {
          @include center;

          &:not(:first-child) {
            flex: 1;
          }

          &.vertical {
            @include center;
            @include vertical-text;
          }

          &.tableContainer {
            padding: 4px;
          }
        }
      }
    }
  }
}
