.analysis {
  @include vp-screen;
  display: flex;
  flex-direction: column;

  > .dataRibbon {
    @include ribbon;
  }

  > .content {
    @include vp-screen;
    flex: 1;

    display: flex;
    flex-direction: column;

    .tabsRoot {
      @include vp-screen;
    }

    .tabsPanel {
      @include vp-scroll-y;
      padding: 0.5rem;
    }
  }
}

.biomeCount {
  display: flex;
  flex-direction: column;

  > table {
    thead {
      font-weight: 600;
    }
    
    tbody {
      tr {
        td:first-child {
          font-size: 8pt;
        }
      }
    }
  }
}


.biomeTable {
  .tableRow {
    //background-color: color-opacity(var(--color-biome), 25%);

    > .biomeCell {
      border-width: 0px;
      border-left: 12px solid var(--color-biome);
      padding-left: 9px;

      font-weight: 600;
    }

    > .idCell {
      font-family: var(--font-mono);
      font-size: 8pt;
      color: #888;
    }

    button {
      height: 20px;
    }
  }
}
